{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sesion.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <form class="form" action="" method="post">
        <h1>Login</h1>

        <div class="form__input-container">
            <input type="text" name="user" required placeholder="user" class="form__input" id="user">
            <label for="user" class="form__label">User</label>
        </div>

        <div class="form__input-container">
            <input type="password" name="pass" required placeholder="pass" class="form__input" id="pass">           
            <label for="pass" class="form__label">Pass</label>
        </div>
        
        <div class="form__checkbox">
            <label for="check" class="form__label-checkbox">
                Mantener la sesión activa?
                <input type="checkbox" name="check" id="check" class="form__check">
            </label>
        </div>
        
        <button class="submit" type="submit">Enviar</button>
        <a href="/signup">Registrate</a>
    </form>
</div>
{% endblock %}