{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sesion.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <form action="/signup" method="post" class="form">
        <h1>Signup</h1>

        <div class="form__input-container">
            <input type="text" required placeholder="user" name="user" class="form__input" id="user">
            <label for="user" class="form__label">User</label>
        </div>
        
        <div class="form__input-container">
            <input type="password" required placeholder="pass" name="pass" class="form__input" id="pass">
            <label for="pass" class="form__label">Pass</label>
        </div>

        <button class="submit" type="submit">Enviar</button>
        <a href="/">Iniciar sesión</a>
    </form>
</div>
{% endblock %}