{% extends "base.html" %}

{% block title %}
{{accion}} tarea
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/new.css')}}" media="(max-width: 1920px)">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablet/new.css')}}" media="(max-width: 720px)">
<link rel="stylesheet" href="{{ url_for('static', filename='css/phone/new.css')}}" media="(max-width: 375px)">
{% endblock %}

{% block content %}
<div class="atajos">
    <a href="/{{user}}/categoria/{{id}}">
        <i class="fa-solid fa-list-check icono"></i>
    </a>
</div>

<div class="container">
    <form id="formID" class="form" action="" method="post">
        <h1 class="title">
            {{ accion }}
        </h1>
        <input type="hidden" name="id" value="id">
        <div class="form__container-textarea">
            <textarea class="form__input form__text-area" name="tarea" id="tarea" cols="30" rows="10" required onkeypress="return checkkey(event)"></textarea>
            <label class="form__label" for="tarea">Escribe una tarea</label>
        </div>

        <div class="form__fecha">
            <div class="form-fecha">
                <select name="dia" id="dia" class="form__input-fecha" aria-placeholder="Díaa" required>
                    <option selected disabled="disabled" class="placeholder">Día</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </div>
            <div class="form-fecha">
                <select name="mes" id="mes" class="form__input-fecha" required >
                    <option selected disabled="disabled" class="placeholder">Més</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div> 
        
        <button class="submit" type="submit">Enviar</button>
    </form>
</div>

{% endblock %}