/* BACKGROUNDS */
$background-color: #ABC;
$row-background: #8FCDB6;
$row-background-even: #4FFFBE;
$row-background-hover: #87cefa;
$th-background: #c0d0dd;


/* BORDER */
$color-border: #FFF;


$button-font-color: #FFF;
$button-background: #000