@import 'variables';
@import 'normalize';

.body{
    display: grid;
    height: 100vh;
    grid-template-areas:"logo . ."
                        ". atajo ."
                        ". form .";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
}

.header{
    grid-area: logo;
}

.home{
    grid-area: atajo;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20em;
    border: #800080 solid 4px;
    border-radius: 0.6em;
    background-color: #E6F4FF;
    padding: 0.5em;
    gap: 1em;

    &__fecha{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    &-fecha{
        display: flex;
        flex-direction: column;
    }   
    

    &__label{
        position: absolute;
        top: -18px;
        left: 7px;
        font-size: 14px;
        font-weight: 600;
        color: #80008075;

        &-radio{
            font-size: 14px;
            font-weight: 600;
            color: #80008075;
        }
    }

    &__container{
        position: relative;
        width: 100%;
        height: 18em;

        &-textarea{
            position: relative;
            width: 100%;
        }
    }

    &__input{
        resize: none;
        height: 10em;
        width: 18em;
        top: 0;
        left: 0;
        border: 3px solid #800080;
        border-radius: 5px;
        padding: 5px;
        color: #babcc0;

        &-fecha{
            border: 3px solid #800080;
            border-radius: 5px;
            width: 5em;
        }

        &:focus + .form__label {
            color: #800080;
        }        
    }
}

.submit{
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    border: 3px solid #800080;
    border-radius: 0.6em;
    &:hover{
        transform: translateY(-2px);
        outline: $color-border;
    }
}

.icono{
    font-size: 3em;
    &:hover{
        color: #8b0000;
    }
}

.placeholder{
    font-size: 14px;
    font-weight: 600;
    color: #800080;
}

select{
    font-size: 14px;
    font-weight: 600;
    color: #80008075;
}